body {
}
a.search_title
{
	color : Black;
	text-decoration : none;
}

.search_title_active
{
	color : Blue;
	text-decoration : none;
}

.houses_link
{
	font-size : 12px;
}

div.search_title_div
{
	font-size:10px;
	font-family : Arial;
	padding-left : 2px;
	padding-right : 2px;
}
.search_body_div
{
	font-family : Arial;
	overflow : auto;
    height : 90%;
}
.title_div
{
	text-align : left;
	font-size : 12px;
	margin-left : 2px;
	padding-left : 2px;
	padding-right : 2px;
}

.search_body_hid
{
	vertical-align : top;
	height : 15px;
}

span.title_span
{
	border-bottom: solid 1px black;
	border-left : solid 1px black;
	border-right : solid 1px black;
	font-size : 12px;
	margin-left : 2px;
	padding-left : 2px;
	padding-right : 2px;
}

select.history
{
	width : 200px;
	font-size : 12px;
}
div.history
{
	padding-left : 30px;
}
div.address_L1
{
	width:98%;
	position:relative;
	left:5px;
	margin-top : 10px;
}

/* <![CDATA[ */
/* Для всех броузеров (IE, FireFox, Opera)*/
div.PT
{
	width:auto;
	height:auto;
	border: solid 1px #9999ff;
	background: transparent url(../png/fon.png);
	// background: transparent url(../png/fon_ie.png); /* IE */
	z-index:15;
	position:absolute;
	left:5px;
	top:5px;
	display:block;
	visibility:visible;
	// filter:alpha(opacity=80); /* IE */
	-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE6 */
}

/* IE6 Only */
* html PT {}

/* IE7 Only */
*:first-child+html PT {}
*+html PT {}

/* FF only */
html:root  PT {}
PT x:-moz-any-link  {}

/* Opera Only */
html:first-child  PT {}
@media all and (min-width: 0) { 
     PT {}
}

/* только для FireFox ? Opera*/
html>body div.PT
{
	width:auto;
	height:auto;
	border: 1px solid #9999ff;
	background: transparent url(../png/fon.png);
	z-index:15;
	-moz-opacity:0.8;
	opacity: 0.8;
	-khtml-opacity: 0.8;
	position:absolute;
	left:5px;
	top:5px;
	display:block;
	visibility:visible;
}
/* только для FireFox*/
head:first-child+body div.PT
{
	width:auto;
	height:auto;
	border: 1px solid #9999ff;
	background: transparent url(../png/fon.png);
	z-index:15;
	-moz-opacity:0.8;
	opacity: 0.8;
	-khtml-opacity: 0.8;
	position:absolute;
	left:5px;
	top:5px;
	display:block;
	visibility:visible;
}
/* ]]> */