<?xml version="1.0" encoding="UTF-8"?>
<ClientMap>
	<configuration version="1.3.0.33 Alpha" debug="false">
		<!-- 1.2.0.21 -->
		<init MultiSelect="false" UseHint="false" UseHint_OnlyTopItem="true" UseHintID="true" UseHintNoCaption="true" UseStatusBar="false" ScrollMultiZoom="false" UseZooming="true" SetMapCrossVisible="false" MapCrossBypass="true" ShowConfigButton="false" DisableContextMenus="true" SetMapHistoryVis="false" NoImageCache="false"/>
		<imagePath>http://rumap.eatlas.ru/scripts/tiling_serv.dll/RMTIL/</imagePath>		
		<!--    http://192.168.0.8/rastr/tmp2/    http://192.168.0.100/IMAGES/   http://192.168.0.211/rastr/IMAGES2/  -->
		<geocoderPath>QRS/search.aspx</geocoderPath>
		<geocoderXPath>QRS/search.aspx</geocoderXPath>
		<elements zoomScaleRight="true" zoomsRight="false"/>
		<PrintableArea width="640" height="450"/>
		<MaxCookiesSaves>20</MaxCookiesSaves>
		<mapborder>solid 1px gray</mapborder>
		<MCXYZHistory_count>30</MCXYZHistory_count>
		<MouseSleepTime>2000</MouseSleepTime>
		<zoom zoom_scale_visible="true" zoom_levels_visible="true" zoom_nobounds="false" zoom_nocrop="false"/>
		<!-- StatusBarHints -->
		<!-- ver 1.2.0.28 -->
		<!-- Если стоит mode=auto, то объект CLientMapNavigator создается clmap'ом автоматически -->
		<Navigator minimized="false" visible="true" mode="auto">
			<ModeAuto onleft="true" ontop="false" width="180" height="100"/>
		</Navigator>
		<predirect file="engine/json/predirect.json"/>
		<PanelTools mode="auto">
			<options demo="false" enable_captions="true" allow_all_window="false" simple="true" onclick="false"/>
			<ModeAuto left="5" top="5"/>
			<tool no="1" visible="true" locked="false"/>
			<tool no="2" visible="true" locked="false"/>
			<tool no="3" visible="true" locked="false"/>
			<tool no="4" visible="true" locked="false"/>
			<tool no="5" visible="false" locked="true"/>
			<tool no="6" visible="true" locked="false"/>
		</PanelTools>
		<!-- тегов script может быть несколько -->
		<script timeout="100">
		<![CDATA[
			//
		]]>
		</script>
	</configuration>	
</ClientMap>